.buttons-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  gap : 15px
}
.buttons{
  height: 50px;
  width: 50px;
  margin: 3px;
  color: black;
  font-size: 25px;
  font-weight: 500;
  background: linear-gradient(chocolate,purple,white);
  
}